<div class="wrapper">
  <div class="img-container">
    <img src="../../../assets/store.jpg" alt="Store Photo" width="300" height="400">
  </div>
  <div class="title">
    <h1>About Us</h1>
  </div>
  <div class="about">
    <p>

HI, WE'RE LIQUOR STORE.

Ten  years ago, LIQUOR STORE started as a simple text from one friend to another: “Why can't you get alcohol delivered?" When we realized that alcohol delivery was, in fact, legal, we set out with a little bit of luck and a lotta bit of determination to build a three-tier compliant technology company that would change the way we shop for beer, wine, and spirits.

Today, LIQUOR STORE is the largest online marketplace for alcohol in Europe. Our purpose is to be there when it matters – committed to life's moments and the people who create them. We partner with thousands of retailers in more than 1,400 cities to empower them to grow their businesses and make our customers' good times better. LIQUOR STORE is available to 100M+ customers and counting across the Europe, offering a rich e-commerce shopping experience with personalized content, competitive and transparent pricing, and an unrivaled selection.
    </p>
  </div>
</div>
