<div class="wrapper">
  <div class="category-cards">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{categories[0]}}</mat-card-title>
        <mat-card-subtitle>Cognac & Brandy</mat-card-subtitle>
        <img
          mat-card-image
          src="../../../assets/Cognac/Martell Chanteloup XXO.jpg"
          alt=""
        />
      </mat-card-header>
      <mat-card-content>
        Get the finest collection of Cognac at great price on Likueuer Market
        It's easy to find the best Cognac for you. Choose from the world's best
        and finest brands on our site
      </mat-card-content>
      <mat-card-actions>
        <div class="flex-spacer"></div>
        <button mat-button color="primary" (click)="onEnterClicked(0)">Enter the {{categories[0]}} category</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{categories[1]}}</mat-card-title>
        <mat-card-subtitle>Vodka </mat-card-subtitle>
        <img
          mat-card-image
          src="../../../assets/Vodka/Absolut Vodka Sweden Original.jpg"
          alt=""
        />
      </mat-card-header>
      <mat-card-content>
        Get the finest collection of Cognac at great price on Likueuer Market.
        It's easy to find the best Cognac for you. Choose from the world's best
        and finest brands on our site
      </mat-card-content>
      <mat-card-actions>
        <div class="flex-spacer"></div>
        <button mat-button color="primary" (click)="onEnterClicked(1)">Enter the {{categories[1]}} category</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{categories[2]}}</mat-card-title>
        <mat-card-subtitle>Red & White</mat-card-subtitle>
        <img
          mat-card-image
          src="../../../assets/Wine/Recanati Marawi White.jpg"
          alt=""
        />
      </mat-card-header>
      <mat-card-content>
        Get the finest collection of Cognac at great price on Likueuer Market.
        It's easy to find the best Cognac for you. Choose from the world's best
        and finest brands on our site
      </mat-card-content>
      <mat-card-actions>
        <div class="flex-spacer"></div>
        <button mat-button color="primary" (click)="onEnterClicked(2)">Enter the {{categories[2]}} category</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{categories[3]}}</mat-card-title>
        <mat-card-subtitle>Rum & Gin</mat-card-subtitle>
        <img
          mat-card-image
          src="../../../assets/Rum & Gin/Roku Gin Select Edition.jpg"
          alt=""
        />
      </mat-card-header>
      <mat-card-content>
        Get the finest collection of Cognac at great price on Likueuer Market.
        It's easy to find the best Cognac for you. Choose from the world's best
        and finest brands on our site
      </mat-card-content>
      <mat-card-actions>
        <div class="flex-spacer"></div>
        <button mat-button color="primary" (click)="onEnterClicked(3)">Enter the {{categories[3]}} category</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{categories[4]}}</mat-card-title>
        <mat-card-subtitle>Single Malt</mat-card-subtitle>
        <img
          mat-card-image
          src="../../../assets/Whiskey/Glenfiddich Select Cask.jpg"
          alt=""
        />
      </mat-card-header>
      <mat-card-content>
        Get the finest collection of Cognac at great price on Likueuer Market.
        It's easy to find the best Cognac for you. Choose from the world's best
        and finest brands on our site
      </mat-card-content>
      <mat-card-actions>
        <div class="flex-spacer"></div>
        <button mat-button color="primary" (click)="onEnterClicked(4)">Enter the {{categories[4]}} category</button>
        <mat-icon></mat-icon>
      </mat-card-actions>
    </mat-card>



  </div>
</div>
