<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image src="../../../assets/{{ product.name }}.jpg" alt="" />
  </mat-card-content>
  <p class="price">Price: {{ product.price }}$</p>
  <mat-card-actions>
    <div class="action-buttons">
      <button
        mat-button
        color="primary"
        [disabled]="isLoggedIn == false"
        (click)="onAddToCardClicked(product)"
      >
        <mat-icon>shopping_cart</mat-icon>Add To Cart
      </button>
      <button mat-button color="primary" *ngIf="customerType == 'Admin'" (click)="onEditClicked()">
        <mat-icon>edit</mat-icon>Edit
      </button>
      <button mat-button color="warn" *ngIf="customerType == 'Admin'" (click)="onDeleteClicked()" >
        <mat-icon>delete</mat-icon>Delete
      </button>
    </div>
    <div class="flex-spacer"></div>
  </mat-card-actions>
</mat-card>
